:root {
    --cor-fundo: #fff8f0;
--cor-fundo: #8b5e3c;
--cor-texto: #333;
--cor-rodape: #654321;
}
body{
    margin: 0;
    font-family: 'segoe UI', sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-fundo);
}
/* Estilizar o cabeçalho */ header {
    background-color;
    var(--cor-cabecalho);
    padding: 10px;
    tecxt-align:center;
}
header img {
    max-width:100%;
    height: auto;
    border-radius: 10px;
}
/*area principal do conteúdo main {
padding: 20px;
text-aligm: justify;
}
main h1 {
color: var(--cor-cabecalho);
}
/*rodapé com assinatura */footer{
    background-color:#333
    var(--cor-rodapé);
    color:#fff;
    text-align: center;
    padding: 15px;
    font-style: italic;

}